{% extends "And6aUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<header>
  <h1>Edition du profil</h1>
</header>

{% include "And6aUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}
