<!DOCTYPE html>
  <html>
  <head>
   <meta charset="UTF-8" />
    <title>And6a {% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
  </head>
  <body>
    <div id="global">
      <div id="header-container">
        <header id="header" role="header" class="container">
          <hgroup>
            <h1>Trombi</h1>
            <h2>Ensisa</h2>
          </hgroup>
        </header>

        <nav id="nav" role="nav" class="container">
          <ul>
            <li class="cell-IR"><a href="#">Informatique et Réseaux</a></li>
            <li class="cell-AS"><a href="#">Automatique et Systèmes</a></li>
            <li class="cell-ME"><a href="#">Mécanique</a></li>
            <li class="cell-TF"><a href="#">Textiles et fibres</a></li>
            <li class="cell-FA"><a href="#">Filières par alternances</a></li>
            <li class="cell-AD"><a href="#">Administration</a></li>
            <li class="cell-CL"><a href="#">Les Clubs</a></li>
          </ul>
        </nav>
      </div>

      <div class="pagination pagination-centered">
        <ul>
          <li><a href="#">2008</a></li>
          <li><a href="#">2009</a></li>
          <li><a href="#">2010</a></li>
          <li><a href="#">2011</a></li>
          <li class="active"><a href="#">2012</a></li>
        </ul>
      </div>

      <div id="content-container">
        <div id="main" class="container">
          <section id="content">
            {% block body %}{% endblock %}
          </section>
        </div>
      </div>

      <div id="footer-container">
        <footer id="footer" class="container">
          <p>&copy; 2012</p>
        </footer>
    </div>
    </div>
    <!-- Javascripts -->
    {% block javascripts %}{% endblock %}
  </body>
</html>