@import 'bootstrap.css';

body {
  background-color: #f5f5ec;
  overflow-y: scroll;
}

p { font-size: 1em; }

*[class~="container"] {
	
}


#global {
}

#header-container {
	margin-bottom: 2em;
	background-color: black;
	color: White;
	box-shadow: 0 0 10px black;
}
#header hgroup > * { margin-right: 1em; padding: .5em 0; display: inline-block; }

#nav ul, #nav li {
	margin: 0; padding: 0;
}
#nav ul { text-align: center; }
#nav  * { vertical-align: middle; }
#nav li { display: inline-block; height: 3em; width: 12%; margin: 0 .1%; }
#nav li > * {
	display: block;
	height: 95%;
	padding: 1% 5px;
	-moz-border-radius: 5px 5px 0 0;
	background-color: #555;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	opacity: .7;
	font-size: .75em;
}

#nav li:hover > * {
	opacity: 1;
}

#main {}
#content {
	padding: 1.5em;
	min-height: 200px;
	background-color: white;
	-moz-border-radius: 20px;
	box-shadow: inset 0 0 300px -250px Black, 0 0 10px -8px Black;
}

#footer {
	margin-top: 2em;
	opacity: .5;
	text-align: center;
	font-size: .75em;
}



.cell-IR a, a.cell-IR { background-color: Green     !important; }
.cell-AS a, a.cell-AS { background-color: Orange    !important; }
.cell-ME a, a.cell-ME { background-color: Red       !important; }
.cell-TF a, a.cell-TF { background-color: RoyalBlue !important; }



figure.user {
	display: inline-block;
	padding: 5px;
	background-color: White;
	-moz-border-radius: 10px;
	box-shadow: inset 0 0 4em -1em #aeaeae, 2px 2px 10px -5px Black;
}

figure.user * { vertical-align: middle; }

figure.user .name {
	text-transform: uppercase;
}
figure.user .class {
	display: block;
	font-size: .75em;
}

figure.user > img {
	max-height: 50px;
	-moz-border-radius: 10px;
}

figure.user figcaption {
	display: inline-block;
}


figure.user-badge {
	text-align: center;
	width: 120px;
}
figure.user-badge > img {
	max-height: 100px;
}
figure.user-badge figcaption {
	display: block;
	font-size: .75em;
}