{% extends '::layout.html.twig' %}

{% block body %}
	<h2>{{ group.name }}</h2>

	<p class="center">{{ users|length }} personne(s) trouvée(s)</p>

  <ul class="items">
	{% for user in users %}
		<li>{% render "And6aUserBundle:Default:getBadge" with {user_id: user.id} %}</li>
	{% endfor %}
  </ul>
{% endblock %}